<!DOCTYPE html>
<html>
    <head>
        <title>Added</title>
    </head>
    <body>
        <h1>You added a headphone to your list!</h1>
        <p>{{add_headphones.getBrand}}</p>
        <p>{{add_headphones.getModel}}</p>
        <p>${{add_headphones.getPrice}}</p>
        <p><a href="/">View your wishlist</a></p>
    </body>
</html>
